<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/utskrift.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/fontello/css/fontello.css">
        <link rel="stylesheet" href="/static/css/pikaday.css">
        <link rel="stylesheet" href="/static/css/material.css">
        <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/static/css/tachyons.min.css"/>
        <link rel="stylesheet" href="/static/css/styles.css">

        <title>URD</title>
    </head>
    <body class="f6 sans-serif vh-100 ma0">
        <div id="urd-base-name" data-value="{{base}}" style="display:none"></div>
        <div class="curtain dn fixed w-100 h-100 z-999 bg-black o-40"></div>
        <div id="login" class="fixed pa2 left-0 right-0 center max-w6 mt7 z-9999 bg-white dn"></div>
        <div id="export-dialog" class="dn bg-white ba b--gray fixed w7 mt7 left-0 pa2 right-0 center z-999"></div>
        <div id="progress" class="dn bg-white ba b--gray fixed w7 mt7 left-0 pa2 right-0 center tc z-999">
            <div name="percent"></div>
            <div name="message" class="max-h5 overflow-auto"></div>
            <div name="toolbar" class="tr"><input type="button" value="OK" class="bg-blue white br2 dn"></div>
        </div>
        <div id="print-view" class="dn">
            <div class="content"></div>
        </div>
        <div id="preferences" class="dn fixed pa2 left-0 right-0 center mt4 z-9999 max-w7 bg-white"></div>
        <div id="keyboard-shortcuts" class="dn fixed right-0 z-999"></div>
        <div id="page-container" class="flex flex-column vh-100">
            <div id="header" class="avenir bg-dark-gray pa1 bb b--black-20 w-100 white"></div>
            <div id="filterpanel" class="pl2"></div>
            <div>
                <div id="toolbar" class="pl2 pt2 fl"></div>
                <div id="message" class="fr bg-light-green ba bt-0 pa1 dn"></div>
            </div>
            <div id="main" class="flex flex-auto min-h-0 pl2 pt2 overflow-auto"></div>
        </div>
        <div id="action-dialog" class="dn bg-white ba b--gray fixed w7 top-0 mt7 left-0 pa2 right-0 center z-999"></div>
    </body>
</html>

<script src="/static/js/bundle.js?v={{v}}"></script>
